<!--<!DOCTYPE html>-->
<!--<html lang="ru" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Ошибка регистрации</title>-->
<!--    <link rel="stylesheet" href="css/styles.css">-->
<!--</head>-->
<!--<body>-->
<!--<div th:insert="blocks/header :: header"></div>-->
<!--<main>-->
<!--    <div class="card">-->
<!--        <h2>Ошибка регистрации</h2>-->
<!--        <p th:text="${message}">Пользователь с таким email уже зарегистрирован.</p>-->
<!--        <a href="/register" class="auth-button">Попробовать снова</a>-->
<!--    </div>-->
<!--</main>-->
<!--<script src="/scripts/scripts.js"></script>-->
<!--</body>-->
<!--</html>-->
