<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пароля</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<main>
    <div>
        <h2>Забыли пароль?</h2>
        <p>Если вы забыли свой пароль, введите свой email, и новый пароль будет отправлен вам на почту.</p>
        <form id="forgotPasswordForm" action="/forgot-password" method="post" class="registration-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="email-input" required>
            <button type="submit" class="auth-button register-button">Сменить пароль</button>
        </form>
        <div id="message"></div>
    </div>
</main>
<script src="/scripts/forgot-password.js"></script>
</body>
</html>
