<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой дипломный проект</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div th:insert="blocks/header :: header"></div>
<main>
    <div class="success-message">
        <p>Вы успешно авторизовались!</p>
    </div>
    <p>Увидели ошибку? <a href="/errmsg">Сообщите нам!</a></p>
</main>

<!-- Вызов внешнего файла JavaScript -->
</body>
</html>
