<!--<!DOCTYPE html>-->
<!--<html lang="ru" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Успешная регистрация</title>-->
<!--    <link rel="stylesheet" href="css/styles.css">-->
<!--</head>-->
<!--<body>-->
<!--<div th:insert="blocks/header :: header"></div>-->
<!--<main>-->
<!--    <div class="card">-->
<!--        <h2>Успешная регистрация</h2>-->
<!--        <p th:text="${message}">Сообщение об успешной регистрации</p>-->
<!--        <a href="/" class="auth-button">Вернуться на главную</a>-->
<!--    </div>-->
<!--</main>-->
<!--<script src="/scripts/scripts.js"></script>-->
<!--</body>-->
<!--</html>-->
